option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "demo_aws.settings"
    ALLOWED_HOSTS: "*"
    DEBUG: False
  aws:elasticbeanstalk:container:python:
    WSGIPath: demo_aws.wsgi:application


container_commands:
  00_current_path:
    command: "pwd"
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true
